@model workforceManagement.Models.Computer

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
@if(Model!= null)
{ 
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ComputerId" />
        <dt>
            @Html.DisplayNameFor(model => model.CommissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommissionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        @*If a computer does not have a DecommisionDate Then that computer is Active*@
        @if (Model.DecommisionDate== null)
        {
            <dd>This Computer is active</dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.DecommisionDate)
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
}
else{
    <p>The computer is assigned to an Employee, cannot be deleted at this moment</p>
    <a asp-action="Index">Back to List</a>
}
